h2
{
  width:            100%;
  padding:          2px 0px 3px 5px;
  font:             bold 14pt sans-serif;
}

th
{
  vertical-align:   top;
  text-align:       left;
}
td
{
  vertical-align:   top;
}

table.hr
{
  width:            100%;
margin-top:0.5em; margin-bottom:0; border-collapse: collapse;
}

.hr td
{
  height:           6px;
}

.indented, p.math, p.code, p.emphasized
{
  margin-left:      50px;
}

.math               { font: italic 0.9em monospace; }
.code               { font: 0.9em monospace; }
.emphasized         { font-style: italic; }

dt                  { font-weight: bold; }
dd                  { margin-bottom: 1em; }

.status
{
  padding:      2px;
  padding-left: 5px;
  width:        500px;
}

.status .title
{
  font-size:    larger;
  font-weight:  normal;
}

.clearit {
    clear: both;
}

#nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav a {
}

#nav li {
    display: block;
    float: left;
    list-style: none;
    /* width: 8em; */
}

#nav li ul {
    position: absolute;
    left: -999em;
    background: white;
    border: 2px blue solid;
    padding: 2px 2px 2px 2px;
    margin-top: 1.2em;
    margin-left: -100px;
}

#nav li ul li {
    float: none;
}

#nav li:hover ul, #nav li.sfhover ul {
    left: auto;
}
