/**
 * Stylesheet for rave section of pajhome.org.uk
 **/

body
{
  background:       #000000 url(rave-background.jpg) repeat;
  color:            white;
}

h2
{
  background:       #FF4400 url(rave-pattern.gif) repeat;
  color:            white;
}

th
{
  font-weight:      bold;
}

table.hr
{
  background:       #FF4400 url(rave-pattern.gif);
}

.navbar .selected   { color: white; }

a:link              { color:        #FFFF00; }
a:link img          { border-color: #FFFF00; }
a:visited           { color:        #FFBB00; }
a:visited img       { border-color: #FFBB00; }
a:hover             { color:        #FF8800; }
a:hover img         { border-color: #FF8800; }

.status
{
  background:   #FF4400;
}


div#breadcrumb a:hover div {
    background: #000088;
    border: 2px #FF4400 solid;
}
